<!DOCTYPE html>
<html>
<head>
    <title>finalOrderResults</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Thank you for submitting your order! Order Successful~ </h2>
    
</div>

</body>
</html>