<!DOCTYPE html>
<html>
<head>
    <title>storeData</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container" color="#ff004b" font-family="Verdana">
    <h2>THANK YOU FOR YOUR SUBMITTED ORDER</h2>
    <div>Order Successful! Your order ID is: <%= results.orderID%></div>
</div>
</body>
</html>